@model Lanche

<div class="container">
<div class="row">
<div class="card">

    <div class="text-center">
        <img src="@Model.ImagemUrl" class="img-fluid" alt="">
    </div>

</div>
</div>
</div>